iframe{
    width: 100%;
}

@media (min-width: 700px) {
    .main_apuntes {
        margin: 0 auto !important; 
        width: 700px !important;
    }
}

.main_apuntes{
    width: auto;
    overflow:auto;
}

body{
    background-color: #F4F4F4 !important;
}